@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700&subset=latin,vietnamese,latin-ext);


#ext_menu-2 .navbar-toggler {
  color: #d9534f;
}
#ext_menu-2 .nav-link {
  font-size: 24px;
  font-family: 'Alegreya Sans', sans-serif;
}
#ext_menu-2 .navbar-brand {
  font-size: 46px;
}
#header3-e H3 {
  font-family: 'Alegreya Sans', sans-serif;
  color: #0275d8;
}
#form2-b .mbr-section-title {
  color: #0275d8;
}
#msg-box4-4 .mbr-section-title {
  color: #0275d8;
}
#msg-box4-6 .mbr-section-title {
  color: #0275d8;
}
#msg-box4-7 .mbr-section-title {
  color: #0275d8;
}
#contacts1-9 UL {
  color: #000000;
}
#contacts1-9 P {
  color: #000000;
}
